body {
  background-color: #222;
  .App {
    nav {
      display: flex;
      gap: 1rem;
      font-size: 1.3rem;
      margin: 1.5rem 3rem;
      a {
        color: rgb(148, 166, 166);
        text-decoration: none;
      }
    }
  }
  .page {
    h2 {
      color: blanchedalmond;
    }
  }
  .pageHome {
    .routes {
      h2 {
        font-style: italic;
        margin: 1rem 1rem;
        a {
          color: rosybrown;
        }
      }
    }
  }
}